@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #EDCCDF;
   font-family: 'Architects Daughter', cursive;
}

header {
    max-width: 75%;
    height: 120px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

header a {
    justify-self: start;
    align-self: end;
}

header p {
    justify-self: end;
    align-self: center;
    font-size: 2rem; 
    margin-right: 10px;   
}

.container {
    max-width: 75%;
    margin: 0 auto;
    height: auto;
    background-color: #F1DFE9;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 10px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 5px;
}

.container img {
    height: 300px;
    border: 2px solid black;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;

}

.container div {
    text-align: center;
}

header a img {
    height: 100px;
}

.nsfw {
    opacity: 0.2;
    filter: blur(0.2rem);
    transition: 0.2s ease;
}

.nsfw:hover {
    opacity: 1;
    filter: blur(0)
}

.art-gallery {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.img-gal {
    height: 70vh; 
    border: 2px solid black;
}

.blur {
   z-index: -1;
   opacity: 0.1;
}

i {
    cursor: pointer;
    padding: 5px;
}

.img-div {
    max-width: 70%;
    min-width: 70%;
}

.close {
    align-self: flex-start;
}

.arrow-right {
    height: 90px;
    display: grid;
    align-content: center;
    cursor: pointer;
}

.arrow-right:hover {
    background: rgba(128, 128, 128, 0.349);
    border-radius: 0.5rem;
}

.arrow-left {
    height: 90px;
    display: grid;
    align-content: center;
    cursor: pointer;
}

.arrow-left:hover {
    background: rgba(128, 128, 128, 0.349);
    border-radius: 0.5rem;
}